.buttonContainer {
  display: flex;
  justify-content: space-evenly;
  max-width: 300px;
  margin: auto;
  margin-top: 20px;
}

.button {
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  color: #566e6b;
  background-color: #d0d6d6;
  width: 130px;
  padding: 7px 0;
  box-shadow: inset 0px 0px 1px 1px #d0d6d6;
  border: 1px solid #3b3837;
  border-radius: 5px;
}
