.gameContainer {
  display: grid;
  margin: auto;
  cursor: pointer;
  justify-content: center;
  justify-items: center;
  grid-template-columns: 300px;
  grid-template-rows: 80px 80px 15px 80px 80px;
}
.imgBox {
  /* border: 1px solid green; */
  /* overflow: hidden; */
  width: 300px;
  height: 163px;
  border-radius: 10px;
  box-shadow: 0px 5px 5px 0px #ccc;
}
.imgBox:nth-child(1) {
  grid-row-start: 1;
  grid-row-end: 3;
}
.imgBox:nth-child(2) {
  grid-row-start: 4;
  grid-row-end: 6;
}
img {
  width: 100%;
}
@media (min-width: 650px) {
  .gameContainer {
    grid-template-columns: 165px 165px 20px 165px 165px;
    grid-template-rows: 180px;
  }
  .imgBox {
    width: 330px;
    height: 182px;
    border-radius: 10px;
    box-shadow: 0px 5px 5px 0px #ccc;
  }
  .imgBox:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .imgBox:nth-child(2) {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}
/* =======================
Click Events
======================= */
.imgBox.clicked {
  grid-row-start: 2;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 2;
}
