/* =======================
body
======================= */
body{
  background-color: #3b3837;
  /* background-color: #f1f3f5; */
}
#root {
  /* background-color: #3b3837; */
  color: #d0d6d6;
  height: 100vh;
  width: 100vw;
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
  text-align: center;
}
/* =======================
Game Container
======================= */
.gameContainer {
  display: grid;
  margin: auto;
  cursor: pointer;
  justify-content: center;
  justify-items: center;
  grid-template-columns: 300px;
  grid-template-rows: 80px 80px 25px 80px 80px;
}
.imgBox {
  /* height: 163px; */
  /* background: #b0b0b0; */
  width: 300px;
  border-radius: 10px;
  /* box-shadow: 0px -1px 1px 1px #b0b0b0; */
  position: relative;
}
.imgBox::before{
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  height: 50%;
  width: 90%;
  /* left: 5%; */
  /* right: 5%; */
  bottom: 0px;
  border-radius: 10px;
  box-shadow: 0 10px 50px rgb(200, 200, 200, 0.6);
}
.imgBox:nth-child(1) {
  grid-row-start: 1;
  grid-row-end: 3;
}
.imgBox:nth-child(2) {
  grid-row-start: 4;
  grid-row-end: 6;
}
img {
  width: 100%;
  border-radius: 10px;
}
@media (min-width: 650px) {
  .gameContainer {
    grid-template-columns: 165px 165px 20px 165px 165px;
    grid-template-rows: 179px;
  }
  .imgBox {
    width: 330px;
    /* height: 180px; */
    border-radius: 10px;
    /* box-shadow: 0px 5px 5px 0px #ccc; */
  }
  .imgBox:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .imgBox:nth-child(2) {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}
/* =======================
Button Container
======================= */
.buttonContainer {
  display: flex;
  justify-content: space-evenly;
  max-width: 300px;
  margin: auto;
  margin-top: 25px;
  height: 45px;
}
.button {
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  line-height: 23px;
  cursor: pointer;
  color: #364453;
  background-color: #f1f3f5;
  width: 130px;
  max-height: 23px;
  padding: 7px 0;
  box-shadow: inset 0px 0px 1px 1px #f1f3f5;
  border: 1px solid #3b3837;
  border-radius: 5px;
  position: relative;
}
.button::before{
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  height: 50%;
  width: 90%;
  left: 5%;
  right: 5%;
  bottom: 0px;
  border-radius: 10px;
  box-shadow: 0 10px 50px rgb(200, 200, 200, 0.6);
}
.button.compare {
  margin-top: 4px;
}
/* =======================
Message Container
======================= */
.messageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 20px;
}
.result {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  border-radius: 15px;
}
/* =======================
Progress Container
======================= */
.progressContainer {
  margin: 20px auto;
  vertical-align: middle;
  max-width: 300px;
  bottom: 0;
  color: #d0d6d6;
}
.progressBack {
  display: inline-block;
  text-align: center;
  height: 20px;
  width: 300px;
  margin: 0 auto;
  border-radius: 15px;
  position: relative;
  vertical-align: middle;
  box-shadow: inset 0px 0px 1px 1px #d0d6d6;
  border: 1px solid #3b3837;
}
.progressFront {
  position: absolute;
  background-color: #d0d6d6;
  height: 20px;
  width: 200px;
  border-radius: 14px 0 0 14px;
  vertical-align: middle;
}
.progressNumber {
  margin: 0 110px;
  position: absolute;
  color: #566e6b;
  width: 80px;
  text-align: center;
  font-size: 13px;
  line-height: 20px;
}
/* =======================
Click Events
======================= */
.imgBox.clicked {
  grid-row-start: 2;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 2;
}
@media (min-width: 650px) {
  .imgBox.clicked {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}
