@import url("https://fonts.googleapis.com/css?family=Titillium+Web:400,700&display=swap");

/* =======================
body
======================= */
button,
.button,
.selectOff {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#root,
main,
.main {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: inherit;
	margin: 0 auto;
	text-align: center;
	font-family: 'Titillium Web', sans-serif;
	overflow: scroll;
}
/* =======================
Theme Toggle Icon (eyes)
======================= */
.theme {
	width: 20px;
	cursor: pointer;
}
.theme:hover {
	transform: scale(1.2);
}
.theme > img {
	width: 100%;
}

@media (min-width: 650px) {
	.theme {
		width: 30px;
	}
}
/* =======================
Game Header
======================= */
.gameHeader {
	display: flex;
	justify-content: space-between;
	width: 80%;
	max-width: 800px;
	margin: 10px auto;
	align-items: center;
}
.gameHeader > div {
	display: flex;
}
.gameHeader > .logo {
	width: 90px;
	height: 40px;
}
.gameHeader > .logo > img {
	width: 100%;
	vertical-align: middle;
}
.gameHeader > .gameHeaderRight.yes > .theme {
	-webkit-animation: scale-up-center 0.4s;
	animation: scale-up-center 0.4s;
}
@-webkit-keyframes scale-up-center {
	0% {
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
	}
	50% {
		-webkit-transform: scale(1.5);
		transform: scale(1.5);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
@keyframes scale-up-center {
	0% {
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
	}
	50% {
		-webkit-transform: scale(1.5);
		transform: scale(1.5);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
.score {
	margin-left: 5px;
	margin-top: -3px;
	color: inherit;
}
@media (min-width: 650px) {
	.gameHeader {
		font-size: 30px;
	}
	.gameHeader > .logo {
		width: 180px;
		height: 80px;
	}
	.score {
		margin-left: 10px;
		margin-top: -5px;
	}
}
/* =======================
Game Container
======================= */
.gameContainer {
	display: grid;
	margin: auto;
	cursor: pointer;
	justify-content: center;
	grid-template-columns: 300px;
	grid-template-rows: 80px 80px 25px 80px 80px;
	width: 300px;
	margin-top: 20px;
}
.imgBox {
	width: 300px;
	border-radius: 10px;
}
.imgBox:hover {
	margin-top: 4px;
	margin-right: 4px;
}
.imgBox > img {
	box-shadow: 0px 3px 5px -1px #b0b0b0;
	width: 100%;
	border-radius: 10px;
}
.imgBox:nth-child(1) {
	grid-row-start: 1;
	grid-row-end: 3;
}
.imgBox:nth-child(2) {
	grid-row-start: 4;
	grid-row-end: 6;
}

@media (min-width: 650px) {
	.gameContainer {
		grid-template-columns: 165px 165px 20px 165px 165px;
		grid-template-rows: 179px;
		width: 700px;
		height: 183px;
		margin-top: 50px;
	}
	.imgBox {
		width: 330px;
	}
	.imgBox:nth-child(1) {
		grid-column-start: 1;
		grid-column-end: 3;
		grid-row-start: 1;
		grid-row-end: 2;
	}
	.imgBox:nth-child(2) {
		grid-column-start: 4;
		grid-column-end: 6;
		grid-row-start: 1;
		grid-row-end: 2;
	}
}
@media (min-width: 1000px) {
	.gameContainer {
		grid-template-columns: 215px 215px 26px 215px 215px;
		grid-template-rows: 233px;
		width: 890px;
		height: 240px;
	}
	.imgBox {
		width: 429px;
	}
}
/* =======================
Game Container - Click Events
======================= */
.imgBox.clicked {
	grid-row-start: 2;
	grid-row-end: 5;
	grid-column-start: 1;
	grid-column-end: 2;
	height: 100%;
}
.imgBox.clicked:hover {
	margin: 0;
}
.imgBox.clicked:nth-child(1) {
	-webkit-animation: slide-in-top 0.3s ease;
	animation: slide-in-top 0.3s ease;
}
.imgBox.clicked:nth-child(2) {
	-webkit-animation: slide-in-bottom 0.3s ease;
	animation: slide-in-bottom 0.3s ease;
}
@-webkit-keyframes slide-in-top {
	0% {
		-webkit-transform: translateY(-100px);
		transform: translateY(-100px);
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}
@keyframes slide-in-top {
	0% {
		-webkit-transform: translateY(-100px);
		transform: translateY(-100px);
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}
@keyframes slide-in-bottom {
	0% {
		-webkit-transform: translateY(70px);
		transform: translateY(70px);
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}
@-webkit-keyframes slide-in-bottom {
	0% {
		-webkit-transform: translateY(70px);
		transform: translateY(70px);
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}
@media (min-width: 650px) {
	.imgBox.clicked {
		grid-column-start: 2;
		grid-column-end: 5;
		grid-row-start: 1;
		grid-row-end: 2;
	}
	.imgBox.clicked:nth-child(1) {
		-webkit-animation: slide-in-left 0.2s ease-out;
		animation: slide-in-left 0.2s ease-out;
	}
	.imgBox.clicked:nth-child(2) {
		-webkit-animation: slide-in-right 0.2s ease-out;
		animation: slide-in-right 0.2s ease-out;
	}
	@-webkit-keyframes slide-in-left {
		0% {
			-webkit-transform: translateX(-100px);
			transform: translateX(-100px);
		}
		100% {
			-webkit-transform: translateX(0);
			transform: translateX(0);
		}
	}
	@keyframes slide-in-left {
		0% {
			-webkit-transform: translateX(-100px);
			transform: translateX(-100px);
		}
		100% {
			-webkit-transform: translateX(0);
			transform: translateX(0);
		}
	}
	@-webkit-keyframes slide-in-right {
		0% {
			-webkit-transform: translateX(100px);
			transform: translateX(100px);
		}
		100% {
			-webkit-transform: translateX(0);
			transform: translateX(0);
		}
	}
	@keyframes slide-in-right {
		0% {
			-webkit-transform: translateX(100px);
			transform: translateX(100px);
		}
		100% {
			-webkit-transform: translateX(0);
			transform: translateX(0);
		}
	}
	.imgBox.clicked > img {
		box-shadow: 0px 3px 5px -1px #b0b0b0;
	}
}
/* =======================
Button Container
======================= */
.buttonContainer {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	max-width: 300px;
	margin: auto;
	margin-top: 35px;
	height: 45px;
}
.button,
.button.isClicked {
	font-size: 20px;
	line-height: 23px;
	cursor: pointer;
	color: #595959;
	background-color: #c7e6ff;
	width: 130px;
	padding: 7px 0;
	box-shadow: 0px 2px 5px -1px #b0b0b0;
	border: 1px solid #3b3837;
	border-radius: 10px;
	position: relative;
}
.button.isClicked:hover {
	margin-top: 3px;
}
.button.compare {
	margin-top: 6px;
}
a {
	text-decoration: none;
	color: #595959;
}

@media (min-width: 650px) {
	.buttonContainer {
		max-width: 450px;
	}
}
/* =======================
Message Container
======================= */
.messageContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin: auto;
	margin-top: -60px;
	font-size: 14px;
}
.result {
	display: flex;
	width: 300px;
	justify-content: center;
	align-items: center;
}

.result > img {
	width: 30px;
	height: 30px;
	margin-right: 5px;
	border-radius: 15px;
	opacity: 0.8;
	-webkit-animation: scale-in-center 0.3s ease-in-out 0.2s both;
	animation: scale-in-center 0.3s ease-in-out 0.2s both;
}
@-webkit-keyframes scale-in-center {
	0% {
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
@keyframes scale-in-center {
	0% {
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
@media (min-width: 650px) {
	.messageContainer {
		margin-top: 40px;
		font-size: 20px;
	}
	.messageContainer > .result {
		width: 600px;
	}
}
/* =======================
Progress Container
======================= */
.progressContainer {
	margin: 45px auto 0;
	vertical-align: middle;
	width: 100%;
}
.progressBack {
	height: 20px;
	width: 300px;
	margin: 0 auto;
	border-radius: 14px;
	position: relative;
	box-shadow: 0px 5px 15px -7px #b0b0b0;
}
.progressFront {
	position: absolute;
	background-color: #ffb7b0;
	height: 98%;
	border-radius: 14px 0 0 14px;
	transition: all 0.5s ease 0s;
}
.progressNumber {
	margin-left: 110px;
	position: absolute;
	color: #7c7a7a;
	text-align: center;
	font-size: 13px;
}
@media (min-width: 650px) {
	.progressBack {
		width: 500px;
		height: 25px;
	}
	.progressNumber {
		font-size: 16px;
		margin-left: 210px;
	}
}
