
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 15px auto;
  /* font-size: 25px; */
  max-width: 300px;
  color: #595959;
}
/* input field for add/update firebase data */
input{
  display: block;
  margin: auto;
  width: 300px;
}

/* =======================
Media Query
======================= */
@media (min-width: 650px) {
  .header {
    max-width: 600px;
    margin: 15px auto;
    justify-content: space-around;
  }
}
