body{
  background-color: #3b3837;
  /* background-color: #f1f3f5; */
}
#root {
  color: #d0d6d6;
  height: 100vh;
  width: 100vw;
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
  text-align: center;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px auto;
  font-size: 25px;
  max-width: 300px;
  color: #d0d6d6;
}
input{
  display: block;
  margin: auto;
  width: 300px;
}

/* =======================
Media Query
======================= */
@media (min-width: 650px) {
  .header {
    max-width: 600px;
    margin: 15px auto;
    justify-content: space-around;
  }
}
