.dot,
.orig,
.one,
.two,
.three,
.four {
	position: absolute;
	top: 15%;
	left: 50%;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	transform: translate(-50%, -50%);
	font-size: 70px;
}
.orig {
	-webkit-animation: rotate 1.5s infinite ease-in-out;
	animation: rotate 1.5s infinite ease-in-out;
}
.one {
	animation-delay: 0s;
	background-color: #29c6cd;
}
.two {
	animation-delay: 100ms;
	background-color: #f6e4c4;
}
.three {
	animation-delay: 200ms;
	background-color: #fea386;
}
.four {
	animation-delay: 300ms;
	background-color: #f19584;
}
@-webkit-keyframes rotate {
	from {
		-webkit-transform: rotate(0deg) translate(0, -33px) rotate(0deg);
		transform: rotate(0deg) translate(0, -33px) rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg) translate(0, -33px) rotate(-360deg);
		transform: rotate(360deg) translate(0, -33px) rotate(-360deg);
	}
}
@keyframes rotate {
	from {
		-webkit-transform: rotate(0deg) translate(0, -33px) rotate(0deg);
		transform: rotate(0deg) translate(0, -33px) rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg) translate(0, -33px) rotate(-360deg);
		transform: rotate(360deg) translate(0, -33px) rotate(-360deg);
	}
}
