.progressContainer {
  margin: 20px auto;
  vertical-align: middle;
  max-width: 300px;
  bottom: 0;
  color: #d0d6d6;
}
.progressBack {
  display: inline-block;
  text-align: center;
  height: 20px;
  width: 300px;
  margin: 0 auto;
  border-radius: 15px;
  position: relative;
  vertical-align: middle;
  box-shadow: inset 0px 0px 1px 1px #d0d6d6;
  border: 1px solid #3b3837;
}
.progressFront {
  position: absolute;
  background-color: #d0d6d6;
  height: 20px;
  width: 200px;
  border-radius: 14px 0 0 14px;
  vertical-align: middle;
}
.progressNumber {
  margin: 0 110px;
  position: absolute;
  color: #566e6b;
  width: 80px;
  text-align: center;
  font-size: 13px;
  line-height: 20px;
}
