/* =======================
Tutorial Header
======================= */
.tutorialContainer > .tutorialHeader {
	width: 330px;
	margin: auto;
}

.tutorialContainer > .tutorialHeader > .theme {
	width: 20px;
	cursor: pointer;
	height: 100%;
	margin-left: 300px;
}
.tutorialContainer > .tutorialHeader > .introMsg {
	font-size: 14px;
	margin-top: -15px;
	color: inherit;
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
@-webkit-keyframes text-focus-in {
	0% {
		-webkit-filter: blur(12px);
		filter: blur(12px);
		opacity: 0;
	}
	100% {
		-webkit-filter: blur(0px);
		filter: blur(0px);
		opacity: 1;
	}
}
@keyframes text-focus-in {
	0% {
		-webkit-filter: blur(12px);
		filter: blur(12px);
		opacity: 0;
	}
	100% {
		-webkit-filter: blur(0px);
		filter: blur(0px);
		opacity: 1;
	}
}
@media (min-width: 650px) {
	.tutorialContainer > .tutorialHeader {
		width: 600px;
	}
	.tutorialContainer > .tutorialHeader > .theme {
		margin-left: 570px;
		width: 30px;
	}
	.tutorialContainer > .tutorialHeader > .introMsg {
		margin-top: -20px;
	}
}
@media (min-width: 1000px) {
	.tutorialContainer > .tutorialHeader > .introMsg {
		font-size: 30px;
	}
}
/* =======================
Tutorial Game Container
======================= */

.tutorialContainer > .gameContainer > .imgBox:nth-child(1) {
	-webkit-animation: first-slide-in-left 0.7s both;
	animation: first-slide-in-left 0.7s both;
}
@-webkit-keyframes first-slide-in-left {
	0% {
		-webkit-transform: translateX(-1000px);
		transform: translateX(-1000px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}
}
@keyframes first-slide-in-left {
	0% {
		-webkit-transform: translateX(-1000px);
		transform: translateX(-1000px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}
}
.tutorialContainer > .gameContainer > .imgBox:nth-child(2) {
	-webkit-animation: second-slide-in-right 0.7s 0.5s both;
	animation: second-slide-in-right 0.7s 0.5s both;
}
@-webkit-keyframes second-slide-in-right {
	0% {
		-webkit-transform: translateX(1000px);
		transform: translateX(1000px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}
}
@keyframes second-slide-in-right {
	0% {
		-webkit-transform: translateX(1000px);
		transform: translateX(1000px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}
}

@media (min-width: 650px) {
	.tutorialContainer > .gameContainer {
		margin-top: 20px;
	}
}

@media (min-width: 1000px) {
	.tutorialContainer > .messageContainer {
		margin-top: 25px;
	}
	.tutorialContainer > .buttonContainer {
		margin-top: 20px;
	}
}

/* =======================
Tutorial Game Container - Click Events
======================= */
.tutorialContainer > .gameContainer > .imgBox.clicked:nth-child(1) {
	-webkit-animation: slide-in-top 0.4s ease;
	animation: slide-in-top 0.4s ease;
}
.tutorialContainer > .gameContainer > .imgBox.clicked:nth-child(2) {
	-webkit-animation: slide-in-bottom 0.4s ease;
	animation: slide-in-bottom 0.4s ease;
}
@-webkit-keyframes slide-in-top {
	0% {
		-webkit-transform: translateY(-70px);
		transform: translateY(-70px);
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}
@keyframes slide-in-top {
	0% {
		-webkit-transform: translateY(-70px);
		transform: translateY(-70px);
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}
@keyframes slide-in-bottom {
	0% {
		-webkit-transform: translateY(70px);
		transform: translateY(70px);
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}
@-webkit-keyframes slide-in-bottom {
	0% {
		-webkit-transform: translateY(70px);
		transform: translateY(70px);
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}

@media (min-width: 650px) {
	.tutorialContainer > .gameContainer > .imgBox.clicked:nth-child(1) {
		-webkit-animation: slide-in-left 0.2s ease-out;
		animation: slide-in-left 0.2s ease-out;
	}
	.tutorialContainer > .gameContainer > .imgBox.clicked:nth-child(2) {
		-webkit-animation: slide-in-right 0.2s ease-out;
		animation: slide-in-right 0.2s ease-out;
	}
	@-webkit-keyframes slide-in-left {
		0% {
			-webkit-transform: translateX(-300px);
			transform: translateX(-300px);
		}
		100% {
			-webkit-transform: translateX(0);
			transform: translateX(0);
		}
	}
	@keyframes slide-in-left {
		0% {
			-webkit-transform: translateX(-300px);
			transform: translateX(-300px);
		}
		100% {
			-webkit-transform: translateX(0);
			transform: translateX(0);
		}
	}
	@-webkit-keyframes slide-in-right {
		0% {
			-webkit-transform: translateX(150px);
			transform: translateX(150px);
		}
		100% {
			-webkit-transform: translateX(0);
			transform: translateX(0);
		}
	}
	@keyframes slide-in-right {
		0% {
			-webkit-transform: translateX(150px);
			transform: translateX(150px);
		}
		100% {
			-webkit-transform: translateX(0);
			transform: translateX(0);
		}
	}
}
