/* =======================
Tutorial Header
======================= */
.tutorialPage > .tutorialHeader {
	width: 330px;
	margin: auto;
}

.tutorialPage > .tutorialHeader > .theme {
	width: 20px;
	cursor: pointer;
	height: 100%;
	margin-left: 300px;
}
.tutorialPage > .tutorialHeader > .introMsg {
	font-size: 14px;
	margin-top: -15px;
	color: inherit;
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
@-webkit-keyframes text-focus-in {
	0% {
		-webkit-filter: blur(12px);
		filter: blur(12px);
		opacity: 0;
	}
	100% {
		-webkit-filter: blur(0px);
		filter: blur(0px);
		opacity: 1;
	}
}
@keyframes text-focus-in {
	0% {
		-webkit-filter: blur(12px);
		filter: blur(12px);
		opacity: 0;
	}
	100% {
		-webkit-filter: blur(0px);
		filter: blur(0px);
		opacity: 1;
	}
}
@media (min-width: 650px) {
	.tutorialPage > .tutorialHeader {
		width: 600px;
	}
	.tutorialPage > .tutorialHeader > .theme {
		margin-left: 570px;
		width: 30px;
	}
	.tutorialPage > .tutorialHeader > .introMsg {
		margin-top: -20px;
	}
}
@media (min-width: 1000px) {
	.tutorialPage > .tutorialHeader > .introMsg {
		/* margin-top: -20px; */
		font-size: 30px;
	}
}
/* =======================
Tutorial Game Container
======================= */

.tutorialPage > .gameContainer > .imgBox:nth-child(1) {
	-webkit-animation: first-slide-in-left 0.7s both;
	animation: first-slide-in-left 0.7s both;
}
@-webkit-keyframes first-slide-in-left {
	0% {
		-webkit-transform: translateX(-1000px);
		transform: translateX(-1000px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}
}
@keyframes first-slide-in-left {
	0% {
		-webkit-transform: translateX(-1000px);
		transform: translateX(-1000px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}
}
.tutorialPage > .gameContainer > .imgBox:nth-child(2) {
	-webkit-animation: second-slide-in-right 0.7s 0.5s both;
	animation: second-slide-in-right 0.7s 0.5s both;
}
@-webkit-keyframes second-slide-in-right {
	0% {
		-webkit-transform: translateX(1000px);
		transform: translateX(1000px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}
}
@keyframes second-slide-in-right {
	0% {
		-webkit-transform: translateX(1000px);
		transform: translateX(1000px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}
}

@media (min-width: 650px) {
	.tutorialPage > .gameContainer {
		margin-top: 20px;
	}
}

@media (min-width: 1000px) {
	.tutorialPage > .gameContainer {
		/* margin-top: 10px; */
	}
	.tutorialPage > .messageContainer {
		margin-top: 10px;
	}
	.tutorialPage > .buttonContainer {
		margin-top: 20px;
		/* max-width: 450px; */
	}
}

/* =======================
Tutorial Game Container - Click Events
======================= */
.tutorialPage > .gameContainer > .imgBox.clicked:nth-child(1) {
	-webkit-animation: slide-in-top 0.4s ease;
	animation: slide-in-top 0.4s ease;
}
.tutorialPage > .gameContainer > .imgBox.clicked:nth-child(2) {
	-webkit-animation: slide-in-bottom 0.4s ease;
	animation: slide-in-bottom 0.4s ease;
}
@-webkit-keyframes slide-in-top {
	0% {
		-webkit-transform: translateY(-70px);
		transform: translateY(-70px);
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}
@keyframes slide-in-top {
	0% {
		-webkit-transform: translateY(-70px);
		transform: translateY(-70px);
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}
@keyframes slide-in-bottom {
	0% {
		-webkit-transform: translateY(70px);
		transform: translateY(70px);
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}
@-webkit-keyframes slide-in-bottom {
	0% {
		-webkit-transform: translateY(70px);
		transform: translateY(70px);
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}

@media (min-width: 650px) {
	/* .imgBox.clicked {
		grid-column-start: 2;
		grid-column-end: 5;
		grid-row-start: 1;
		grid-row-end: 2;
	} */
	.tutorialPage > .gameContainer > .imgBox.clicked:nth-child(1) {
		-webkit-animation: slide-in-left 0.2s ease-out;
		animation: slide-in-left 0.2s ease-out;
	}
	.tutorialPage > .gameContainer > .imgBox.clicked:nth-child(2) {
		-webkit-animation: slide-in-right 0.2s ease-out;
		animation: slide-in-right 0.2s ease-out;
	}
	@-webkit-keyframes slide-in-left {
		0% {
			-webkit-transform: translateX(-300px);
			transform: translateX(-300px);
		}
		100% {
			-webkit-transform: translateX(0);
			transform: translateX(0);
		}
	}
	@keyframes slide-in-left {
		0% {
			-webkit-transform: translateX(-300px);
			transform: translateX(-300px);
		}
		100% {
			-webkit-transform: translateX(0);
			transform: translateX(0);
		}
	}
	@-webkit-keyframes slide-in-right {
		0% {
			-webkit-transform: translateX(150px);
			transform: translateX(150px);
		}
		100% {
			-webkit-transform: translateX(0);
			transform: translateX(0);
		}
	}
	@keyframes slide-in-right {
		0% {
			-webkit-transform: translateX(150px);
			transform: translateX(150px);
		}
		100% {
			-webkit-transform: translateX(0);
			transform: translateX(0);
		}
	}
	/* .imgBox.clicked > img {
		box-shadow: 0px 5px 10px 0px #b0b0b0;
	} */
}

/* ============================== */
.tutorialPage > .tutorialMenu > .demoButton,
.tutorialPage > .tutorialMenu > a {
	display: inline-block;
	font-size: 20px;
	text-align: center;
	vertical-align: middle;
	/* line-height: 23px; */
	cursor: pointer;
	color: #595959;
	background-color: #ffb7b0;
	width: 80px;
	/* height: 23px; */
	padding: 3px;
	box-shadow: 0px 2px 5px -1px #b0b0b0;
	border: 1px solid #3b3837;
	border-radius: 5px;
	/* box-sizing: border-box; */
	margin: auto;
}

.tutorialPage > .tutorialMenu {
	display: flex;
	margin: auto;
	width: 300px;
}
